h2 {
    color: rgb(0, 0, 0);
}

textarea.form-control {
    padding: 0.375rem 0.75rem; /* Bootstrap's default padding for inputs */
    text-align: left;
    vertical-align: top; /* Ensures text starts at the top */
    box-sizing: border-box; /* Makes sure padding doesn't affect the width */
}

.card {
    border: none; /* Removes the border *//* Removes the focus outline */
}
