{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 style="font-size: 7vh;">Push Up your business <br>by going Online</h1>
            </div>
            <div class="col-4">
                <h1 style="font-size: 5vh;">
                    Customer form fill-out
                </h1>
            </div>
        </div>   
        <div class="row">
            <div class="col">
                <h1 style="font-size: 6vh;">
                    About us
                </h1>
            </div>
        </div>
    </div>

{% endblock %}
