{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block extra_styles %}

    <link rel="stylesheet" href="{% static 'portafolio/css/home_styles.css' %}">

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-8 ">
                <div class="">   
                    <h1 class="branding">
                        Push up your business by going online.
                    </h1>
                    <h4 class="branding2"> We create a tailored site for your business to meet all your needs and take your business  
                        to the next level
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="card bg-transparent">
                    <div class="card-body"> 
                        <form class="userForm" action="{% url 'registerUser' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group py-1">
                                <input type="text" id="name" name="name" class="form-control bg-transparent" placeholder="Your name" maxlength="50" required>
                            </div>
                            <div class="form-group py-1">
                                <input type="text" id="email" name="email" class="form-control bg-transparent" placeholder="Email address" maxlength="60" required>
                            </div>
                            <div class="form-group py-1">
                                <input type="text" id="phone_number" name="phone_number" class="form-control bg-transparent" placeholder="Phone number" maxlength="50" required>
                            </div>
                            <div class="form-group py-1">
                                <textarea id="message" name="message" class="form-control bg-transparent" placeholder="Tell us about your business" maxlength="250" rows="5" required></textarea>
                            </div>                            
                            <div class="form-group py-3">
                                <button type="submit" class="btn btn-primary btn-block text-white">Get Started</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
